<div id="app">
  <navbar></navbar>
  <div class="container">
    <router-view></router-view>
  </div>
  <footerinfo></footerinfo>
</div>

<%= javascript_pack_tag 'contents' %>
<%= stylesheet_pack_tag 'contents' %>